<section>
  <header class="pt-2 row">
    <span class="text-right col-6">Вы смотрите {{activeDate.dayOfYear}} день года</span>
  </header>

  <div class="timeline">
    <div class="left-button">
      <button (click)="toMonth(-1)" class="btn btn-outline-info"> <<</button>
    </div>
    <div *ngIf="timeline.length" class="timeline__days">
      <div *ngFor="let wordCount of timeline; let i = index" class="item">
        <span class="timeline__date">{{ i + 1 }}</span>
        <a (click)="viewText(i + 1)" [ngClass]="{
        'active': activeDayN === i + 1 && isCurrentMonth(),
        'btn-default': wordCount === -1,
        'btn-info': wordCount === 0,
        'btn-danger': wordCount >= 500,
        'btn-success': wordCount > 0 && wordCount < 500}" class="btn btn-sm"
           type="button">{{wordCount === -1 ? '--' : wordCount}}</a>
      </div>
    </div>
    <div class="next-month-button">
      <button (click)="toMonth(1)" *ngIf="!isCurrentMonth()" class="btn btn-outline-info"> >>
      </button>
    </div>
  </div>

</section>
