<section>
  <div class="flex flex-nowrap flex-row w-full text-center">
    <button (click)="toMonth(-1)" class="bg-blue-300"> <<</button>
    <div *ngFor="let data of timeline; let i = index" class="flex-auto">
      <button (click)="viewText(data.date)"
              class="p-0.5 inline-block bg-gray-500"
              [ngClass]="{
        'outline-white bg-blue-900 text-white': data.date.day === activeDate.day && isCurrentMonth,
        'bg-gray-300': data.wordCount === -1,
        'bg-blue-300': data.wordCount === 0,
        'bg-red-300': data.wordCount >= 500,
        'bg-green-300': data.wordCount > 0 && data.wordCount < 500}"
      >
        <span class="text-xs relative left-1 opacity-50 bg-red-500">{{ i + 1 }}</span>
        {{data.wordCount === -1 ? '--' : data.wordCount}}</button>
    </div>
      <button (click)="toMonth(1)" *ngIf="!isCurrentMonth" class="bg-blue-300"> >>
      </button>
  </div>
</section>
